<div class="home__container">
    <app-card gamePrice="R$ 120,99" gameType="DIGITAL | PS4" gameLabel="Digital"
        gameCover="assets/bt-hardline.jpg"></app-card>
    <app-card gamePrice="R$ 269,69" gameType="DISC | PS5" gameLabel="Todos Consoles"
        gameCover="assets/bt-4.jpg"></app-card>
    <app-card gamePrice="R$ 399,99" gameType="DISC | PS5" gameLabel="Exclusivo" gameCover="assets/bt-5.jpg"></app-card>
    <app-card gamePrice="R$ 399,99" gameType="DISC | PS5" gameLabel="Exclusivo"
        gameCover="assets/ac-cover.jpg"></app-card>
</div>